<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
    <div class="row">
        <div class="col-12">
            <div>
                <h2>{{ object.first_name }} {{ object.last_name }}
                    <a href="{% url 'editar_usuario' request.user.pk %}" class="btn btn-warning float-end"><i class="bi bi-pencil-square"></i> Editar</a>
                </h2>
                <hr>
            </div>
        </div>
        {% include 'partils/_alertas.html' %}
        <div class="table-responsive">
            <p class="h5">Username: {{ object.username }}</p>
            <p class="h5">E-mail: {{ object.email }}</p>
            <br>
            <a href="{% url 'deletar_usuario' request.user.pk %}" class="btn btn-danger">Excluir</a>
        </div>
    </div>

{% endblock %}
